
@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Downloads</title>
</head>
<body>
    <div> 
        <h2>Documents</h2>
        <table >
            <tr>
                <th>File Name</th>
                <th>&nbsp &nbsp</th>
                <th>Link</th>
            </tr>
            @for (var i = 0; i <= Model.Count - 1; i++)
            {
                <tr>
                    <td>@Model[i].ToString() </td>
                    <td>&nbsp &nbsp</td>
                    <td>@Html.ActionLink("Download", "Download", new { ImageName = @Model[i].ToString() }) </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
